.roofing_works {
    .consultation_slider {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 406px;
        animation: roofingWorksSlide 15s infinite;
     }

     @keyframes roofingWorksSlide {
        0%{
           background-image: url("../../assets/images/roofingWorks/roofing-works-slide-1.webp");
        }
     
        25%{
           background-image: url("../../assets/images/roofingWorks/roofing-works-slide-2.jpg");
        }
        25.01%{
           background-image: url("../../assets/images/roofingWorks/roofing-works-slide-2.jpg");
        }
       
        75%{
            background-image: url("../../assets/images/roofingWorks/roofing-works-slide-3.webp");
        }
     
        75.01%{
                  background-image: url("../../assets/images/roofingWorks/roofing-works-slide-3.webp");
        }
     
        100%{
           background-image: url("../../assets/images/roofingWorks/roofing-works-slide-1.webp");
        }
     }
}